{# <div class="container"> #}
	{# <div class="row">
		<div class="col-md-8"> #}
			<div class="dotted-line">
				<h1 class="center">{{ node.getTitle() }}</h1>
				<div class="row">
					<div class="col-md-4">
						<img src="{{ file_url(node.field_image.entity.uri.value) }}">
					</div>
					<div class="col-md-6">
						{{ node.body.value | raw }}
					</div>
				</div>
			</div>
		{# </div> #}
		{# <div class="col-md-4">
        {% if page.sidebar %}
            <div class="custom-margin">
                {{ page.sidebar }}
            </div>
        {% endif %}
		</div> #}
	{# </div> #}
{# </div> #}
{{ attach_library('jugaad_patches/global-styling') }}
{{ attach_library('jugaad_patches/global-scripts') }}